# Node
node_modules
.pnpm-store
.npmrc
.turbo
.next
coverage
.vitest

# Python
__pycache__
*.pyc
.venv
.env

# Environments
.env.local
.env.development
.env.production
.env.test

# IDE
.vscode
.idea

# Docker
*.log
dist
build
.eggs
*.egg-info

# Misc
.DS_Store
